*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#eef2f7;
}

.sidebar{

position:fixed;

left:0;

top:0;

width:260px;

height:100vh;

background:#982128;

color:white;

overflow:auto;

}

.logo{

padding:25px;

text-align:center;

border-bottom:1px solid rgba(255,255,255,.1);

}

.logo i{

font-size:55px;

color:#0d6efd;

margin-bottom:10px;

}

.logo h3{

margin:0;

}

.sidebar ul{

list-style:none;

padding:20px 0;

}

.sidebar ul li{

margin:6px 0;

}

.sidebar ul li a{

display:block;

padding:15px 25px;

color:white;

text-decoration:none;

transition:.3s;

}

.sidebar ul li a:hover{

background:#2563eb;

padding-left:35px;

}

.main{

margin-left:260px;

padding:25px;

}

.topbar{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

background:white;

padding:20px;

border-radius:12px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.card{

border:none;

border-radius:15px;

box-shadow:0 10px 20px rgba(0,0,0,.08);

}

.stat-card{

padding:25px;

border-radius:15px;

color:white;

}

.blue{

background:#2563eb;

}

.green{

background:#16a34a;

}

.orange{

background:#ea580c;

}

.red{

background:#dc2626;

}

.stat-card h2{

font-size:34px;

margin-top:10px;

}

table{

background:white;

}

.btn{

border-radius:8px;

}


@media(max-width:992px){

.sidebar{

left:-260px;

transition:.3s;

}

.main{

margin-left:0;

}

}